* {

    box-sizing: border-box;
}


a {
    color: #777777;
}

html,
body {
    height: 100%;

}


#wrap {
    margin: 0 auto;
    text-align: center;
    width: 960px
}


#firstName {
    color: white;
    margin: 0 auto;
    background-color: #4aaaa5;
    width: 300px;
    height: 85px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 250%;
    text-align: center;
}


#menu {
    color: #777777;
    background-color: #ffffff;
    width: 300px;
    height: 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


hr {
    clear: both;
    border-width: .03em;
    border-bottom-style: solid;
    margin: 0 auto;
    width: 100%;
    align-self: center;
    border-color: #777777;
}


#backgroundTest {
    background-image: url("myportfolio/assets/images/round.png");
    background-repeat: repeat;
    padding: 70px;
    height: calc(100% - 87px);
}


#portfolioWrap {
    margin: 0 auto;
    width: 960px;
    background-color: #ffffff;
    border: #dddddd;
    border-style: solid;
    border-width: .01em;
}

#portfolioHeading {
    clear: both;
    color: #4aaaa5;
    margin: 15px 0 15px 15px;
}

#grayLine {
    margin: 15px auto;
    color: #777777;
    width: 930px;
    border-width: 1px;
    align-self: center;
}

#footerBox {
    margin-top: 50px;
    width: 100%;
    background-color: #666666;
    height: 4rem;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 10px;
    align-self: center;
    bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}

#copyright {
    text-align: center;
    color: white;
    overflow: hidden;
}

body {
    margin: 0 auto;
}

#robImage {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0px 15px 0px 15px;
}

p {
    color: #777777;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    word-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

}


#footerLine {
    color: #4aaaa5;
}


#cr1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* contact us page CSS */

#contentPadding {
    background-image: url("https://lh3.googleusercontent.com/MtzMSUjbfaDQY8xgppp8r826LVuwgwCkTE9aMTfPdHC5OUWr5UcBB4ulo1O_mzdaC6MAkzeN9G_11dSYYZCNfUM1lZKQW9xOfO3gDmeGi9ZW8FysGaSUoRqUctnzDBxjPUu2CF7GbOVdn8WOQviSnopCBSrqraAm0CFro5iQSvor-a513LA2Q4eCi88oB5PIZmJxn_av7T0kHVngc5BNKykQJNR13g4kep_BcaN_YbTrqAZBYfMy2FdD0klkUoQbLshgItmWQ6gH-Q-Ef3gjC0kLbxJBF4nTJJAJ027dahF-Cv_scyWwDDSxS4nNqQ4vsdFahevNFQItM94j8938kSyzw-99t3Ss6K7jo4YmV8Q8ixY5CCuL7-syMcbz6bJ3AMOOth2qjon9IQqr0fao4jqLQaMLK0I2bE8PcTHNISWz95VFiWOYnCxo76YOoClTl4zCO8obfxbo9TKdClhyjxYZ6BmSosFxGhd59YPcmdFmRIO18Vei4PBUyKK8pTPLwixUuG9AEkpljz-A7URK5AZxbUT_VlWBdqZWPbf8kaiiX24eY10BP15A-57I1AeVEuNlV61OsC2xr43YSf3M8-xYb2k1wqsWIE0mocY-L8h_jb8RCISwHmSlwNWGEiVGMvFHpsktw0szLV0UzRydDma0S9tisXJfiQPRzWxFc4aRfyJ2PQmg=s400-no");
    background-repeat: repeat;
    padding: 70px;
    height: 100%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #cccccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add a background color and some padding around the form */

.container {
    border-radius: 5px;
    border-color: #cccccc;
    background-color: #ffffff;
    padding: 20px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}


/* start of portfolio css */

.boxClass {
    display: flex;
    width: 540px;
    height: 800px;
    align-items: start;
    justify-content: space-between;
    text-align: center;
}
.portfolioTitle {
    background: #4aaaa5;
    width: 200px;
    height: 40px;
    color: white;
    text-align: center;
    align-items: center;
    position: relative;
    top: 100px;
    right: 15px;
    line-height: 40px;
}

#hangman {
    height: 150px;
    width: 200px;
    margin: 10px 15px 30px 15px;
    background-image: url(myportfolio/assets/images/hangman.jpg);
    background-size: 100%;
}

#trivia {
    height: 150px;
    width: 200px;
    margin: 10px 15px 30px 15px;
    background-image: url(myportfolio/assets/images/trivia.jpg);
    background-size: 100%;
}

#rock {
    height: 150px;
    width: 200px;
    margin: 10px 15px 30px 15px;
    background-image: url(myportfolio/assets/images/rps.jpg);
    background-size: 100%;
}

#rpg {
    height: 150px;
    width: 200px;
    margin: 10px 15px 30px 15px;
    background-image: url(myportfolio/assets/images/rpg.jpg);
    background-size: 100%;
}

#rutgers {
    height: 150px;
    width: 200px;
    margin: 10px 15px 30px 15px;
    background-image: url(myportfolio/assets/images/rutgers.jpg);
    background-size: 100%;
}
